/**
 * 文書全体のスタイル
 */
body {
    margin-left: 0em;
    margin-right: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

/**
 * 見出しのスタイル
 */
h1, h2, h3, h4, h5, h6 {
    font-family: "Times New Roman", "ＭＳ ゴシック";
}

/**
 * 本文のスタイル
 */
/* 段落 */
p {
    text-indent: 1em;
    font-family: "Times New Roman", "ＭＳ ゴシック";
    font-size: medium;
}
/* 強調 */
em {
    font-style: normal;
    font-weight: bold;
}

/**
 * 箇条書きのスタイル
 */
li {
    font-family: "Times New Roman", "ＭＳ ゴシック";
}

/**
 * コードのスタイル
 */
pre {
    margin: 1em;
    padding: 1em;
    border: solid 1px blue;
}

/**
 * メタデータのスタイル
 */
/* 最終更新日 */
div.lastModified {
    font-family: "Times New Roman", "ＭＳ ゴシック";
    text-align: right;
}
div.copyright {
    text-align: center;
}
